
  
.logo a  .logo-img-big{
    width: 130px;
}
html[dir="ltr"]{
  .lang-ancor{
    font-family: 'Bahij TheSansArabic';
    font-weight: 600;
  }
}
nav .nav-ul > li > .lang-ancor{
  text-transform: capitalize ;
}

.overflow-hidden-body {
  overflow: hidden;
}


  .showToTop{
    opacity: 1;
    visibility: visible;
  }
  .translateY-0 {
    transform: translateY(-30px);
  }

  .show-search-box{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }


  .sticky-header{
    padding: 8px 0;
    background-color: #fff;
   box-shadow: 0 -1px #e3e3e3 inset;
    .control-section i , nav .nav-ul > li > a{
      color: #000 !important;
    }
    .logo a img{
      filter: brightness(0) saturate(100%) invert(0%) sepia(0%) hue-rotate(159deg) contrast(105%);
    }
    .number{
      background-color: #000;
      color: #fff;
    }
  }




  // body {
  //   padding-top: 86px;
  // }




  @include max-768 {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
      padding-right: 20px;
      padding-left: 20px;
    }
  }
